.page.theme_light {
  --main-text-color: #353430;
  --main-background-color: #FFF1F7;
  --main-heading-color: #353430;
  --logo-color: #ffc2e6;
  --section-heading-color: #353430;
  --accent-color: #ff8dcb;
  --nav-color: #353430;
  --nav-color-hover: #35343066;
  --nav-color-focus: #353430;
  --footer-logo-color: #ffc2e6;
  --decoration-zone-color: #353430;

  --background-image: url("./../images/cover-image-light.png");

  --rec-is-displayed: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-text-color: #353430;
    --main-background-color: #FFF1F7;
    --main-heading-color: #353430;
    --logo-color: #ffc2e6;
    --section-heading-color: #353430;
    --accent-color: #ff8dcb;
    --nav-color: #353430;
    --nav-color-hover: #35343066;
    --nav-color-focus: #353430;
    --footer-logo-color: #ffc2e6;
    --decoration-zone-color: #353430;

    --background-image: url("./../images/cover-image-light.png");

    --rec-is-displayed: none;
  }
}
